<div class="dashboard-container">
  <div class="metrics-container">
    <div
        class="metrics-section"
        *ngFor="let section of dataPointsLayout"
        [ngStyle]="{'flex': getFlexValue(section.width)}"
    >
      <h5 class="metric-title">{{section.label}}</h5>
      <div class="metrics-container">
        <div
            *ngFor="let metric of section.elements"
            [ngStyle]="{'flex': getFlexValue(metric.width)}"
        >
          <div class="metric-label">{{fieldDefinitions[metric.name].label}}</div>
          <div class="metric-value">
            {{getFormattedValue(dataPoints[metric.name], fieldDefinitions[metric.name])}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let dataSet of dataSetsLayout; index as d">
    <h5 class="dataset-title">{{dataSet.label}}</h5>
    <p-table
        [columns]="dataSet.elements[0].fields"
        [value]="dataSets[d].data"
        styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{fieldDefinitions[col.name].label}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ getFormattedValue(rowData[col.name], fieldDefinitions[col.name]) }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td *ngFor="let col of dataSet.elements[0].fields; index as c">
            {{c === 0 ? 'Total' : getAggregateValue(col.name, d)}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
