body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
}
.p-menubar {
  background: #21128a;
  color: #ffffff;
  padding: 0.5rem;
}
.p-button {
  background: none;
  border: 0;
  color: #ffffff;
}
.p-datatable {
  font-size: 10px;
}
.p-datatable-thead > tr > th {
  color: #21128a;
  border-bottom: 1px solid #191c1f;
  padding: 1rem 0.25rem 0.75rem;
  text-align: left;
}
.p-datatable-tbody > tr:nth-child(odd) {
  background: #f3f4f6;
}
.p-datatable-tbody > tr > td,
.p-datatable-tfoot > tr > td{
  padding: 0.75rem 0.25rem;
}
.p-datatable-tfoot > tr > td{
  border-top: 1px solid #191c1f;
}
